@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    color: black;
    background-color: rgb(248, 248, 248);
    font-size: 1em;
    font-family: serif;
    line-height: 135%;
}

a {
    text-decoration: none;
}

.content {
    min-height: calc(100vh - 95px);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header {
    border-bottom: 2px solid black;
}

.logo h1 a{
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

.logo h1 a:hover {
    color: #000;
    text-shadow: none;
}

.logo-img img {
    height: 75px;
    border-radius: 50%;
    margin-top: 5px;
}

.logo-soc {
    list-style: none;
}

.logo-soc li a{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #000;
}

.logo-soc li  a:hover {
    color: rgb(20, 3, 116);
}

.logo-soc li a img {
    height: 20px;
    margin-right: 10px;
}

header, footer {
    width: 100%;
    background-color: #fff;
    min-height: 80px;
}

footer {
    border-top: 2px solid black;
    margin-top: 10px;
}
